.home-container {
	display: flex;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	align-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.home-container h1 {
	width: 40%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.home-container h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.home-container h4 {
	width: 100%;
	color: #b3b3b3;
	margin-top: 10px;
	margin-bottom: 10px;
}

.schedule-container {
	display: flex;
	width: 69%;
	flex-wrap: wrap;
	gap: 10px;
}

.schedule-container img {
	width: 100%;
	border-radius: 8px;
	opacity: 0;
	filter: blur(2px);
	transition: opacity 1s ease-out, filter 0.5s ease-out;
}

.schedule-container img.show {
	opacity: 1;
	filter: blur(0);
}

.statistics-container {
	display: flex;
	width: 30%;
	padding-left: 10px;
	flex-direction: column;

}

.statistics-block {
	border: solid;
	border-radius: 6px;
	border-width: 1px;
	border-color: #000000;
	padding: 10px;
}

.progress-bar-container {
	width: 100%;
	background-color: #eee;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
}

.progress-bar {
	height: 30px;
	width: 0%;
	background: linear-gradient(to right, #4caf50, #81c784);
	color: white;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	border-radius: 8px;
	transition: width 1.5s ease-in-out;
}

.lessons-block {
	display: flex;
	font-size: 20px;
	gap: 15px;
	border: solid;
	border-radius: 6px;
	border-width: 1px;
	border-color: #000000;
	padding: 10px;
	flex-direction: column;
}

.lesson-item {
	display: flex;
	font-size: 18px;
	text-decoration: none;
	color: #000000;

	background-color: #DCEEFF;
	border: none;
	border-radius: 6px;

	padding: 10px;
}

#exam-results {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
	margin-bottom: 20px;
}

#exam-results th,
#exam-results td {
	border: 1px solid #ddd;
	border-radius: 6px;

	padding: 12px;
	text-align: center;
}

#exam-results th {
	background-color: #006CDB;
	color: white;
	font-weight: bold;
}

#exam-results tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

#exam-results td {
	font-size: 16px;
	font-weight: 500;
}

#exam-results th:first-child,
#exam-results td:first-child {
	border-left: none;
}

#exam-results th:last-child,
#exam-results td:last-child {
	border-right: none;
}

#exam-results tr:last-child td {
	border-bottom: none;
}

@media screen and (max-width: 1359px) {

	#exam-results th,
	#exam-results td {
		padding: 6px;
	}
}

@media screen and (max-width: 1110px) {
	.schedule-container {
		width: 100%;
	}

	.statistics-container {
		padding-left: 0px;
		width: 100%;

	}

	.statistics-block {
		width: auto;
	}


	.lessons-block {
		width: auto;
	}

}