.lesson-container {
	display: flex;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	align-content: flex-start;
	flex-wrap: wrap;
}

.lesson-container h4 {
	color: #b3b3b3;
	margin-top: 10px;
	margin-bottom: 10px;
}

.lesson-video-container {
	display: none;

	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
}

.lesson-video-container h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.video-block {
	width: 70%;
}

#lesson-video {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.timings-block {
	width: 25%;
	padding-left: 10px;

}

.materials-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.materials-container h1 {
	width: 100%;
}

.material-info {
	display: flex;
	width: 100%;
	align-items: flex-end;
	gap: 20px;
	flex-wrap: wrap;
}

.material-info img {
	max-width: 100px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.material-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 150px;
	padding: 10px;
	color: #000000;
	border: solid;
	border-width: 1px;
	border-color: #006CDB;
	border-radius: 60px;
	cursor: pointer;
	font-family: "ALS Sector";
	font-size: 21px;
	text-decoration: none;
	background-color: #ffffff;
	overflow: hidden;
	z-index: 1;
}

.material-item .fill {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #4caf50;
	z-index: -1;
	transition: width 1s ease;
}


@media screen and (max-width: 1110px) {
	.video-block {
		width: 100%;
	}

	.timings-block {
		width: 100%;
		padding-left: 0px;
	}

	.material-info img {
		max-width: 50px;
	}

	.materials-container h1,
	.lesson-video-container h1 {
		font-size: 20px;
	}

	.material-item {
		width: 100px;
	}
}