html{
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	
	font-family: "M PLUS Rounded 1c";

  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
footer{
	align-self: flex-end;
}
.main-content {
	display: flex;
	flex-wrap: wrap;
	width: 80%;	
	align-content: flex-start;
	/* margin: auto; */
	margin-left: auto;
	margin-right: auto;
}

.btn-primary {
	background-color: #7BBAF4;
	color: #000000;
	padding: 0px 15px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	
	font-family: "M PLUS Rounded 1c";
	font-size: 32px;
	text-decoration: none;
}
.btn-primary:hover {
	background-color: #DCEEFF;
}
.subsection-container{
	display: flex;
	flex-wrap: wrap;
	padding-top: 24px;
	width: 100%;
	justify-content: space-around;
	display: none;
}

.vertical-buttons {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.btn-subsection {
	background-color: #DCEEFF;
	color: #000000;

	padding: 20px 10px;
	margin-right: 10px;

	border: none;
	border-radius: 16px;

	cursor: pointer;
	width: 22%;
	height: 100%;

	font-family: "M PLUS Rounded 1c";
	font-size: 26px;
	text-decoration: none;
}
.btn-pack {
	background-color: #ffffff;
	color: #000000;

	padding: 12px 36px;
	margin-left: 10px;
	margin-bottom: 20px;

	border-width: 1px;
	border-color: #000000;
	border-radius: 60px;

	cursor: pointer;

	font-family: "M PLUS Rounded 1c";
	font-size: 21px;
	text-decoration: none;
}
.btn-pack:hover {
	background-color: #DCEEFF;
}
.btn-subsection:hover {
	background-color: #7bbaf4;
}
.btn-subsection.selected {
	background-color: #7BBAF4;
}

.topics-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center; /* Выравнивание элементов влево */

	margin-top: 20px;
	width: 100%;
	margin-left: 10px;
	flex-grow: 1;
	font-size: 22px;
	text-decoration: none;
}
.topics-list label {
	flex-grow: 1;
	margin-bottom: 10px;
}
.start-buttons{	
	margin-top: 20px;
	display: flex;
	align-items: flex-end;
}
.btn-start {
	padding: 12px 36px;
	font-size: 21px;

	border-width: 1px;
	border-radius: 16px;
}
.motivate-text{
	margin: auto;
	padding-top: 12px;
}
.motivate-text-head{
	font-family: "M PLUS Rounded 1c";
	font-weight: bold;
	padding-top: 5px;
	font-size: 32px;
	text-decoration: none;
}

.motivate-text-steps{
	display: flex;
	flex-wrap: wrap;

	font-family: "M PLUS Rounded 1c";
	font-weight: 400;
	font-size: 24px;
	text-decoration: none;
}

.motivate-text-step{
	
	color: #000000;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
	margin-top: 24px;

	text-decoration: none;
}
.motivate-text-step img{
	width: 10%;
	margin-right: 10px;
}
.step-number {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #7bbaf4;
	color: #fff;
	text-align: center;
	line-height: 40px;
	margin-right: 10px;
}

.section-container{
	display: flex;
	flex-wrap: wrap;

	margin: auto;
	padding-top: 24px;
	justify-content: space-evenly;
	text-align: center;
}
.section-head{
	font-family: "M PLUS Rounded 1c";
	/* font-weight: bold; */
	font-size: 30px;
	text-decoration: none;
}
.buttons-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
	margin: auto;
	padding-top: 24px;
	width: 100%;
	margin-bottom: 20px;
	/* display: none; */
}
.btn-section {
	background-color: #DCEEFF;
	color: #000000;

	width: calc(30% - 0px);
	padding: 44px 12px;
	margin-bottom: 20px;
	
	margin-left: 20px;
	border: none;
	border-radius: 16px;

	cursor: pointer;

	font-family: "M PLUS Rounded 1c";
	font-size: 22px;
	text-decoration: none;
}
.btn-section:hover {
	background-color: #7BBAF4;
}
.btn-section.selected {
	background-color: #7BBAF4;
}

.social-links-container {
	width: 100%;
}
.social-links{
	padding: 10px;
	display: flex;
	justify-content: center;
}
.btn-link{
	display: flex;
	align-items: center;

	cursor: pointer;
	color: rgb(0, 0, 0);
	font-family: "M PLUS Rounded 1c";
	font-size: 14px;
	text-decoration: none;

	margin: 10px;

}
.btn-link:hover{
	color: rgb(190, 190, 190);
}
.social-links img {
	margin: 0 10px; /* Отступы между изображениями */
	max-width: 22px; /* Максимальная ширина изображений */
}
.social-links img:hover {
}
@media screen and (max-width: 1600px) {
	.subsection-container{
		flex-wrap: wrap; 
	}
}
@media screen and (max-width: 1020px) {
	.subsection-container{
		flex-wrap: wrap;
	}

	.motivate-text-steps{
		font-size: 24px;
	}

	.motivate-text-step{
		width: 100%;
	}
	
	.motivate-text-head{
		font-size: 32px;
	}

	.section-head{
		font-size: 30px;
	}

	.btn-section {
		font-size: 22px;
	}
}
@media screen and (max-width: 881px) {
	.btn-subsection {
		width: 200%;
	}
	.topics-list {
		width:100%;
	}
}
@media screen and (max-width: 820px) {
	.main-content {
		width: 90%;	
	}
	.topics-list {
		margin-left: 0px;
		justify-content: center;
	}

	.motivate-text-steps{
		font-size: 24px;
	}

	.motivate-text-head{
		font-size: 30px;
	}

	.section-head{
		font-size: 28px;		
	}

	.btn-section {
		font-size: 20px;
	}
}
@media screen and (max-width: 620px) {
	.motivate-text-steps{
		font-size: 20px;
	}

	.btn-subsection {
		width: 150%;
		/* margin-left: 10px; */
	}
	.motivate-text-head{
		font-size: 22px;
	}

	.section-head{
		font-size: 26px;		
	}

	.btn-section {
		font-size: 18px;
		width: calc(50% - 10px);
		margin-bottom: 10px;
    margin-left: 10px;
	}
}