.tests-textblock{
	display: flex;
	justify-content: flex-start;
	font-family: "M PLUS Rounded 1c";
	font-size: 28px;
	text-decoration: none;
}
.testsbuttons-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 20px;
	
	width: 100%;
}
.tests-container{
	justify-content: space-evenly;
	flex-wrap: wrap;
	
	padding-top: 12px;
	width: 100%;
}
.btn-test{
	background-color: #DCEEFF;
	color: #000000;

	padding: 12px 36px;

	border: none;
	border-radius: 16px;

	cursor: pointer;

	font-family: "M PLUS Rounded 1c";
	font-size: 21px;
	text-decoration: none;
}
.btn-test:hover {
	background-color: #7bbaf4;
}

.section-paragraph{
	display: flex;
	justify-content: center;
	font-weight: 100;
	margin-top: 26px;
	margin-bottom: 0px;
}

.notification{
	display: absolute;
}