.main-container-test {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.main-content-test {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.task {
	width: 100%;
	overflow: hidden;
}

.task-image img {
	width: 100%;
	height: auto;
}

img {
	width: 100%;
}

.task-options {
	align-items: center;
}

.solution-image {
	width: 100%;
	height: auto;
	display: none;
}

/* Стили для анимации появления и скрытия решения */
.solution-image.show {
	display: block;
	animation: fadeIn 0.2s ease-in-out;
}

.interactable-fields {
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* margin-top: 10px;
	margin-bottom: 10px; */
	flex-direction: row-reverse;
}

.btn-solution {
	background-color: #DCEEFF;
	cursor: pointer;
	font-size: 24px;
	display: none;
}

.answer-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input[type="radio"] {
	margin: auto;
	cursor: pointer;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	border: 1px solid #000000;
	background-color: white;
	-webkit-appearance: none;
	/*to disable the default appearance of radio button*/
}

input[type="radio"]:checked {
	/*no need, if you don't disable default appearance*/
	background-color: #7BBAF4;
}

input[type="radio"]:checked~span:first-of-type {
	color: rgb(0, 0, 0);
}

label span:first-of-type {
	position: relative;
	left: 10px;
	font-size: 16px;
	color: #000000;
}

.answer-input label {
	margin: 1px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

label span {
	cursor: pointer;
	position: relative;
	top: -26px;
}

.btn-endtest {
	display: flex;
	justify-content: flex-end;
	width: 90%;
	gap: 20px;
	justify-content: center;

	margin-bottom: 24px;
	/* margin-top: 24px; */
	margin-left: auto;
	margin-right: auto;
}


@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1020px) {
	.main-content-test {
		width: 95%;
	}

	input[type="radio"] {
		width: 32px;
		height: 32px;
	}

	label span:first-of-type {
		left: 11px;
	}

	label span {
		top: -27px;
	}

	.answer-input label {
		margin: 3px;
	}
}

@media screen and (max-width: 881px) {}

@media screen and (max-width: 820px) {}

@media screen and (max-width: 620px) {}