
<div class="motivate-text">
		<div class="motivate-text-head">Каталог заданий для подготовки к ОРТ</div>
		<div class="motivate-text-steps">

				<a class="motivate-text-step">
						<img src="/static/media/school-material-text 2.svg" alt="SVG Example">Решай большое количество задач
				</a>

				<a class="motivate-text-step">
						<img src="/static/media/chalk-board 3.svg" alt="SVG Example">Вспоминай формулы по каждой теме
				</a>

				<a class="motivate-text-step">
						<img src="/static/media/augmented-reality-vr-ar 1.svg" alt="SVG Example">Учись разбирать решения
				</a>

				<a class="motivate-text-step" target="_blank" href="https://www.youtube.com/@shektep">
						<img src="/static/media/video-player 1.svg" alt="SVG Example">Смотри открытые вебинары
				</a>

		</div>
</div>