{% extends "./base.html" %}
{% block content %}
<div class="main-container-test">
	<div class="main-content-test">
		{% csrf_token %}
		<div></div>
		<div id="image-modal" class="image-modal">
			<span id="close-modal" class="close-modal">&times;</span>
			<img id="modal-image" class="modal-image" src="" />
		</div>
	</div>
	<div class="tests-textblock"></div>
	<div class="video-container">
		<video id="test-video" class="video-js " controls oncontextmenu="return false;" controls controlsList="nodownload">
			<source id="video-source" type="video/mp4" />
		</video>
		<div id="video-timings" class="timings-container"></div>
	</div>

	<div class="btn-endtest"> <button class="btn-primary" type="submit" onclick="finishTest()">Завершить тест</button>
	</div>

</div>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const urlParams = new URLSearchParams(window.location.search);
		const packId = urlParams.get('pack_id');
		if (packId) {

			fetch(`/api/task/?pack_id=${packId}`)
				.then(response => {
					if (!response.ok) {
						throw new Error('Network response was not ok');
					}
					return response.json();
				})
				.then(data => {
					const tasks = data.tasks_data;
					const readingImages = data.reading_images || [];

					var tasksContainer = document.querySelector('.main-content-test');
					if (readingImages.length > 0) {
						renderReadingImages(readingImages);
					}
					if (tasks && tasks.length > 0) {
						renderTasks(tasks);
					} else {
						const messageDiv = tasksContainer.querySelector('div');
						messageDiv.textContent = 'Тест не смог сформироваться';

						console.error('Нет доступных заданий.');
					}
				})
				.catch(error => {
					console.error('Ошибка при загрузке заданий:', error);
				});
		} else {
			console.error('pack_id не найден в URL');
		}
	});
	function renderReadingImages(images) {
		const textBlock = document.querySelector('.main-content-test');
		const imagesContainer = document.createElement('div');
		imagesContainer.classList.add('reading-text-container');

		images.forEach(imageUrl => {
			const imgElement = document.createElement('img');
			imgElement.src = imageUrl;
			imgElement.classList.add('reading-text-image');

			// Добавляем обработчик на клик для открытия изображения
			imgElement.addEventListener('click', function () {
				openModal(imageUrl); // Открываем модальное окно с изображением
			});

			imagesContainer.appendChild(imgElement);
		});

		textBlock.prepend(imagesContainer);
	}

	// Функция для открытия модального окна
	function openModal(imageUrl) {
		const modal = document.getElementById('image-modal');
		const modalImage = document.getElementById('modal-image');
		console.log("imageUrl for modal w", imageUrl);
		modalImage.src = imageUrl;
		modal.style.display = 'flex'; // Показываем модальное окно

		const closeBtn = document.getElementById('close-modal');
		closeBtn.addEventListener('click', closeModal);

		window.addEventListener('click', function (event) {
			const modal = document.getElementById('image-modal');
			if (event.target === modal) {
				closeModal();
			}
		});
	}

	// Закрытие модального окна
	function closeModal() {
		const modal = document.getElementById('image-modal');
		modal.style.display = 'none'; // Скрываем модальное окно
	}


	function renderVideo(packId) {
		const examsTextBlock = document.querySelector('.tests-textblock');
		const videoContainer = document.querySelector('.video-container');
		videoContainer.style.display = 'flex';

		fetch(`/api/video/?pack_id=${packId}`)
			.then(response => {
				if (!response.ok) {
					throw new Error(response.status);
				}
				return response.json();
			})
			.then(data => {
				const videoElement = document.getElementById('test-video');
				const videoSource = document.getElementById('video-source');
				videoSource.src = data.video_url;
				videoElement.load();
				renderVideoTimings(data.id);
			})
			.catch(error => {
				videoContainer.innerHTML = '';
				if (error.message === '403') {
					examsTextBlock.textContent = 'Видео-разбор доступен по подписке';
				} else if (error.message === '404') {
					examsTextBlock.textContent = '';
				} else {
					examsTextBlock.textContent = 'Ошибка при загрузке видео. Попробуйте позже.';
				}
				console.error('Ошибка при загрузке видео:', error);
			});
	}

	function renderVideoTimings(videoId) {
		const timingsContainer = document.getElementById('video-timings');

		fetch(`/api/video_timing/?video_id=${videoId}`)  // Меняем параметр на video_id
			.then(response => response.json())
			.then(data => {
				const timings = data.timings;
				if (timings && Object.keys(timings).length > 0) {
					timingsContainer.innerHTML = ''; // Очистка контейнера перед добавлением таймингов
					for (let label in timings) {
						const timingBtn = document.createElement('button');
						timingBtn.textContent = `${timings[label]} - ${label}`;
						timingBtn.classList.add('timing-btn');
						timingBtn.classList.add('fade-in-block', 'bottom');

						timingBtn.addEventListener('click', () => {
							const videoElement = document.getElementById('test-video');
							const [hours, minutes, seconds] = timings[label].split(':').map(Number);
							const newTime = hours * 3600 + minutes * 60 + seconds;
							videoElement.currentTime = newTime;
							videoElement.play(); // Запуск видео после перемотки
						});

						timingsContainer.appendChild(timingBtn);
					}
				} else {
					timingsContainer.innerHTML = '<p>Тайминги отсутствуют.</p>';
				}
				PlayAnimation();
			})
			.catch(error => {
				console.error('Ошибка при загрузке таймингов:', error);
				timingsContainer.innerHTML = '<p>Ошибка при загрузке таймингов.</p>';
			});
	}


	function finishTest() {
		var radioButtons = document.querySelectorAll('input[type="radio"]:checked');
		var totalTasks = document.querySelectorAll('.task').length;
		var selectedTasks = radioButtons.length;

		if (selectedTasks === 0) {  // Проверка количества отвеченных заданий
			return;
		}

		if (selectedTasks < totalTasks) {
			var confirmation = alert('Нужно ответить на все задания, чтобы завершить тест.');
			return;
		}
		var selectedAnswers = collectSelectedAnswers();
		const urlParams = new URLSearchParams(window.location.search);
		const packId = urlParams.get('pack_id');

		checkAndSaveCorrectAnswers(packId, selectedAnswers);
		renderVideo(packId);
		if (packId) {
			fetch(`/api/task_answer/?pack_id=${packId}`)
				.then(response => {
					if (!response.ok) {
						throw new Error('Network response was not ok');
					}
					return response.json();
				})
				.then(data => {
					const tasks = data.tasks_data;
					if (tasks && tasks.length > 0) {
						createResultsTable(selectedAnswers, tasks);
						var finishButton = document.querySelector('.btn-endtest .btn-primary');
						finishButton.textContent = 'Вернуться';
						finishButton.onclick = function () {
							window.location.href = "{% url 'home' %}";
						};
						finishButton.setAttribute('type', 'button');
					} else {
						console.error('Нет доступных заданий.');
					}
				})
				.catch(error => {
					console.error('Ошибка при загрузке заданий:', error);
				});
		} else {
			console.error('pack_id не найден в URL');
		}
	}

	function collectSelectedAnswers() {
		var selectedAnswers = [];
		var tasks = document.querySelectorAll('.task');
		var radioButtons = document.querySelectorAll('input[type="radio"]:checked');
		radioButtons.forEach(function (radioButton) {
			var task_id = radioButton.name.split('_')[1];
			var selectedAnswer = radioButton.nextElementSibling.textContent;
			var taskDiv = radioButton.closest('.task');
			var taskNumber = taskDiv.dataset.taskNumber;
			selectedAnswers.push({ task_id: task_id, selectedAnswer: selectedAnswer, taskNumber: taskNumber });
		});
		return selectedAnswers;
	}

	function createResultsTable(selectedAnswers, tasks) {
		var tableContainer = document.createElement('div');
		tableContainer.classList.add('table-container');

		var resultsTable = document.createElement('table');
		resultsTable.classList.add('table-custom');
		var headerRow = resultsTable.insertRow();
		headerRow.insertCell(0).textContent = 'Номер задания';
		headerRow.insertCell(1).textContent = 'Выбранный ответ';
		headerRow.insertCell(2).textContent = 'Правильный ответ';

		var correctTasks = [];
		var incorrectTasks = [];

		selectedAnswers.forEach(function (selectedAnswer) {
			var task = tasks.find(task => task.id === parseInt(selectedAnswer.task_id));
			var correctAnswerText = task ? task.answer : '';

			var row = resultsTable.insertRow();
			row.insertCell(0).textContent = selectedAnswer.taskNumber;

			var selectedCell = row.insertCell(1);
			selectedCell.textContent = selectedAnswer.selectedAnswer;
			if (selectedAnswer.selectedAnswer === correctAnswerText) {
				selectedCell.style.backgroundColor = '#8FF57A';  // Зеленый для правильных ответов
				correctTasks.push(selectedAnswer.task_id);
			} else {
				selectedCell.style.backgroundColor = '#F57A7A';  // Красный для неправильных ответов
				incorrectTasks.push(selectedAnswer.task_id);
			}

			var correctCell = row.insertCell(2);
			correctCell.textContent = correctAnswerText;
		});

		tableContainer.appendChild(resultsTable);

		var resultsContainer = document.querySelector('.main-content-test');
		resultsContainer.appendChild(tableContainer);

		var radioButtons = document.querySelectorAll('input[type="radio"]');
		radioButtons.forEach(function (radioButton) {
			radioButton.disabled = true;
		});

		const urlParams = new URLSearchParams(window.location.search);
		const packId = urlParams.get('pack_id');

		fetch(`/api/task/?pack_id=${packId}`)
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {
				const allTasks = data.tasks_data;
				const selectedTaskIds = selectedAnswers.map(answer => parseInt(answer.task_id));

				allTasks.forEach(task => {
					if (!selectedTaskIds.includes(task.id)) {
						incorrectTasks.push(task.id);
					}
				});
				const totalTasks = allTasks.length;
				const correctTasksCount = correctTasks.length;
				const solvedPercent = Math.round((correctTasksCount / totalTasks) * 100);
				fetch('/api/solve_pack/', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-CSRFToken': '{{ csrf_token }}',
					},
					body: JSON.stringify({
						pack_id: packId,
						solved_percent: solvedPercent
					}),
				})
					.then(response => {
						if (!response.ok) {
							throw new Error(`Ошибка при сохранении результатов: ${response.status}`);
						}
						return response.json();
					})
					.then(data => console.log('Результаты сохранены:', data))
					.catch(error => console.error('Ошибка при сохранении результатов:', error));
			});
	}

	async function checkAndSaveCorrectAnswers(packId, userAnswers) {
		try {
			const response = await fetch(`/api/task_answer/?pack_id=${packId}`);
			if (!response.ok) throw new Error("Ошибка загрузки ответов");
			const data = await response.json();

			const correctAnswers = data.tasks_data.reduce((acc, task) => {
				acc[task.id] = task.answer;
				return acc;
			}, {});

			const correctSolvedTasks = userAnswers.filter(userTask =>
				correctAnswers[userTask.task_id] === userTask.selectedAnswer
			);

			for (const task of correctSolvedTasks) {
				await fetch(`/api/solve_task/`, {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
						"X-CSRFToken": "{{ csrf_token }}",
					},
					body: JSON.stringify({ task_id: task.task_id })
				});
			}
		} catch (error) {
			console.error("Ошибка при обработке задач:", error);
		}
	}

	function renderTasks(tasks) {
		var tasksContainer = document.querySelector('.main-content-test');
		var index = 1;
		// Цикл для создания элементов заданий
		tasks.forEach(function (task) {
			var taskDiv = document.createElement('div');
			taskDiv.classList.add('task');
			taskDiv.classList.add('fade-in-block', 'bottom');
			taskDiv.textContent = 'Задание ' + index;
			taskDiv.dataset.taskNumber = index++;

			var taskImageDiv = document.createElement('div');
			taskImageDiv.classList.add('task-image');
			var taskImage = document.createElement('img');
			taskImage.src = task.task_image_url;
			taskImage.alt = 'Task Image';
			taskImageDiv.appendChild(taskImage);

			var taskOptionsDiv = document.createElement('div');
			taskOptionsDiv.classList.add('task-options');

			var interactableFieldsDiv = document.createElement('div');
			interactableFieldsDiv.classList.add('interactable-fields');

			var answerInputDiv = document.createElement('div');
			answerInputDiv.classList.add('answer-input');
			var radioLabels = ['А', 'Б', 'В', 'Г'];
			if (task.subsection == "Часть 2") {
				radioLabels.push('Д');
			}

			radioLabels.forEach(function (label) {
				var radioLabel = document.createElement('label');
				var radioInput = document.createElement('input');
				radioInput.type = 'radio';
				radioInput.name = 'options_' + task.id;
				var span = document.createElement('span');
				span.textContent = label;
				radioLabel.appendChild(radioInput);
				radioLabel.appendChild(span);
				answerInputDiv.appendChild(radioLabel);
			});
			interactableFieldsDiv.appendChild(answerInputDiv);
			taskOptionsDiv.appendChild(interactableFieldsDiv);
			taskDiv.appendChild(taskImageDiv);
			taskDiv.appendChild(taskOptionsDiv);
			tasksContainer.appendChild(taskDiv);

			PlayAnimation()
		});

	}

	function PlayAnimation() {
		const fadeInBlocks = document.querySelectorAll('.fade-in-block');

		function handleScroll() {
			fadeInBlocks.forEach(block => {
				const blockPosition = block.getBoundingClientRect().top;
				const windowHeight = window.innerHeight;

				// Проверяем, виден ли блок на экране
				if (blockPosition < windowHeight + 100) {
					block.classList.add('visible');
				}
			});
		}

		// Выполняем проверку при прокрутке
		window.addEventListener('scroll', handleScroll);

		// Выполняем проверку при загрузке страницы
		handleScroll();
	}

</script>
{% endblock %}