{% extends "./base.html" %}
{% block content %}
<div class="main-content">
		{% include "motivatecontent.html" %}
		
		<div class="section-container">
				<div class="section-head">Направления подготовки на платформе </div>
				<div class="buttons-container">
						{% for section in sections %}
								<button class="btn-section" onclick="selectButtonSection(this)" data-section-id="{{ section.id }}">{{ section.name }}</button>
						{% endfor %}
								<button class="btn-section" onclick="redirectToTests(this)">Решай готовые варианты</button>
				</div>
		</div>

		<div class="subsection-container">
			
				<!-- Загрузка разделов из бд -->
				<div class="vertical-buttons"> </div> 

				<!-- Загрузка тем разделов из бд -->
				<div class="topics-list"> </div>
				<div class="tests-textblock"></div>

		</div>
</div>
<script>
		function loadSubsections(sectionId) {
				var subsectionsList = document.querySelector('.vertical-buttons');
				subsectionsList.innerHTML = '';
				
				fetch(`/get_subsections/${sectionId}/` ,{
						method: 'POST',
						headers: {
								'Content-Type': 'application/json',
								'X-CSRFToken': '{{ csrf_token }}',
						},
				})// Получаем разделы для выбранного предмета
				.then(response => response.json())
				.then(data => {

						data.forEach(subsection => { // Добавляем разделы на страницу
								var btn = document.createElement('button');
								btn.classList.add('btn-subsection');
								btn.textContent = subsection.name;
								btn.dataset.subsectionId = subsection.id;
								btn.onclick = function() {
										selectButtonSubsection(this);
								};
								subsectionsList.appendChild(btn);
						});

						// console.log("subs" + subsectionsList.childNodes.length);
						
						var testsTextBlock = document.querySelector('.tests-textblock');
						testsTextBlock.innerHTML = '';
						
						if(subsectionsList.childNodes.length > 0){
								subsectionsList.childNodes[0].classList.add('selected');
								var subsection_id = subsectionsList.childNodes[0].dataset.subsectionId;
								if(subsectionsList.childNodes.length == 1){
										subsection_name = subsectionsList.childNodes[0].textContent;
										subsectionsList.className = 'tests-textblock';
										subsectionsList.textContent = subsection_name;
										subsectionsList.style.marginTop = '12px';
										
								}
								loadPacks(subsection_id); // Для первого раздела загружаем тесты
						}
						else{
									testsTextBlock.textContent = 'Тесты скоро появятся';
						}
				})
				.catch(error => {
						console.error('Ошибка загрузки подразделов:', error);
				});
		}

		function selectButtonSubsection(button) {
				var buttons_section = document.querySelectorAll('.btn-subsection');
				buttons_section.forEach(function (btn) {
						btn.classList.remove('selected');
				});
				button.classList.add('selected'); // Меняем выделение у выбранной кнопки
				var selectedSubsectionId = button.dataset.subsectionId;
				loadPacks(selectedSubsectionId); // Для раздела загружаем тесты
		}

		function selectButtonSection(button) {
				var selectedSectionId = button.dataset.sectionId;
				var selectedButtons = document.querySelectorAll('.btn-section');
				
				selectedButtons.forEach(function(btn) { //Указываем какая кнопка была выбрана
						btn.classList.remove('selected');
				});
				button.classList.add('selected');

				var buttonsContainer = document.querySelector('.subsection-container');
				if (buttonsContainer) { //Включаем отображение разделов и тем
						buttonsContainer.style.display = 'flex';
				} else {
						console.error('Элемент с классом "subsection-container" не найден.');
				}

				loadSubsections(selectedSectionId); // Загружаем разделы для выбранного предмета
				
				var buttonsContainer = document.querySelector('.section-container');
				if (buttonsContainer) {
						buttonsContainer.style.display = 'none'; //Выключаем блок с предметами
				} else {
						console.error('Элемент с классом "section-container" не найден.');
				}
		}

		function loadPacks(subsectionId) {
				var packsList = document.querySelector('.topics-list');  // Элемент, куда будут добавляться кнопки паков
				var sectionId = document.querySelector('.buttons-container .selected').dataset.sectionId;  // ID выбранной секции

				fetch(`/get_packs/${subsectionId}/`)  // Отправляем AJAX-запрос для получения списка паков
						.then(response => response.json())
						.then(data => {
								var fragment = document.createDocumentFragment();  // Создаем пустой фрагмент для добавления элементов
								var index = 1;
								data.forEach(pack => {
										var btn = document.createElement('button');
										btn.classList.add('btn-pack');  // Добавляем классы для кнопки пака
										btn.textContent = "Тест " + index++;  // Название пака
										btn.dataset.packId = pack.id;  // ID пака для отправки на бэк

										btn.addEventListener('click', function() {
												redirectToPackTest(pack.id);  // Вызываем функцию для перенаправления на страницу теста по ID пака
										});

										fragment.appendChild(btn);  // Добавляем кнопку в фрагмент
								});

								packsList.innerHTML = '';  // Очищаем предыдущие паки
								
								var testsTextBlock = document.querySelector('.tests-textblock');
								console.log(fragment.childNodes.length);
								if(fragment.childNodes.length > 0){
										packsList.appendChild(fragment);  // Добавляем все элементы из фрагмента на страницу
								}
								else{
									testsTextBlock.innerHTML = '';
									testsTextBlock.textContent = 'Тесты скоро появятся';
								}
						})
						.catch(error => {
								console.error('Error fetching packs:', error);
						});
		}
		function redirectToPackTest(packId) {
				window.location.href = `/get_tasks_for_pack/${packId}/`;  // Перенаправляем пользователя на страницу с тестом для выбранного пака
		}
		function redirectToTest() {
				var selected_themes = JSON.parse(localStorage.getItem('selected_themes'));// Проверяем, появились ли selected_themes в localStorage
				
				if (JSON.stringify(selected_themes).length > 2){
						fetch('/get_selected_tasks/', {
										method: 'POST',
										headers: {
												'Content-Type': 'application/json',
												'X-CSRFToken': '{{ csrf_token }}',
										},
										body: JSON.stringify(selected_themes),
								})
								.then(response => response.json())
								.then(data => {
										if ((Object.keys(data.tasks).length) > 0) {
												window.location.href = '/test';
										}
										else{
												message = "Чтобы составить тест, нужно выбрать тесты с заданиями";
												alert(message);
										}
								})
								.catch(error => {
										console.error('Error fetching tasks:', error);
								});
					}
					else{
								message = "Чтобы составить тест, нужно выбрать тесты для решения";
								alert(message);
					}
				
		}
		function redirectToTests() {
				window.location.href = '/tests/';
		}
</script>
{% endblock %}