{% if end_date %}
<section class="section-banner-container fade-in">
	<div class="section-head" style="width: 100%;">Записи эфиров</div>
	<div class="links-container">
		<div class="youtube-video">
			<a href="https://www.youtube.com/live/CitdtXx7eD8" target="_blank">
				<img src="https://img.youtube.com/vi/CitdtXx7eD8/mqdefault.jpg" alt="Превью видео">
			</a>
		</div>

		<div class="youtube-video">
			<a href="https://www.youtube.com/live/pa14XRs-gnw" target="_blank">
				<img src="https://img.youtube.com/vi/pa14XRs-gnw/mqdefault.jpg" alt="Превью видео">
			</a>
		</div>

		<div class="youtube-video">
			<a href="https://www.youtube.com/live/gkuaKW-1W7Q" target="_blank">
				<img src="https://img.youtube.com/vi/gkuaKW-1W7Q/mqdefault.jpg" alt="Превью видео">
			</a>
		</div>

		<div class="youtube-video">
			<a href="https://www.youtube.com/live/JvefCQbDMw4" target="_blank">
				<img src="https://img.youtube.com/vi/JvefCQbDMw4/mqdefault.jpg" alt="Превью видео">
			</a>
		</div>

		<div class="youtube-video">
			<a href="https://www.youtube.com/live/eGn80S3wVSs" target="_blank">
				<img src="https://img.youtube.com/vi/eGn80S3wVSs/mqdefault.jpg" alt="Превью видео">
			</a>
		</div>
	</div>
</section>
{% endif %}